*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("bg.jpeg");
     color: white;
}
.left img{
    filter: invert(100%);
    width: 100px;
    height: 70px;
}
.left h3{
    color: white;
    margin: 0px;
    font-size: 15px;
    text-align: center;
}
.btn{
    background-color: rgb(34, 33, 33);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: none;
    padding: 9px 9px;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px;
}
.btn:hover{
    background-color: gray;
    color: black;
    font-weight: bolder;
}

.left{
    display: inline-block;
    border: solid rgb(0, 0, 0) 5px;
    position: absolute;
    left: 50px;
    top: 2px;

}
.mid{
    display: block;
    margin: 25px auto;
    width: 45%;
    border: solid rgb(0, 0, 0) 5px; 

}
.right{
    color:white ;
    display: inline-block;
    border: solid rgb(0, 0, 0) 5px;
    position: absolute;
    top: 25px;
    right: 70px;
}
.navbar{
    list-style: none;
}
.navbar li{
    font-size: 20px;
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 34px 15px;
}
.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: darkgray;
}

.marq marquee{
    background-color: rgb(98, 69, 215);
color: azure;
padding: 3px;
font-size: 20px;
border-top: white 1px solid;
border-bottom: white 1px solid;
}
.marq marquee:hover{
    cursor: pointer;
    color: black
}
.container{
    /* border: solid white 2px; */
    margin: 40px 100px;
    width: 30%;
    border-radius: 10px;
    padding: 55px;
    float: right;
}
.container h1{
    -webkit-text-stroke: 0.5px  rgb(98, 69, 215);
    text-align: center;
}
.forms-group{
    border-radius: 10px;
    margin: 30px auto;
    padding: 5px;
    background-color: rgb(98, 69, 215);
}
.forms-group input{
    background-color:rgb(98, 69, 215) ;
    
    border: none;
    margin: auto;
    padding: 10px;
}
.forms-group select{
    size: 10px; 
    margin: 5px auto;
    padding: 10px;
}
.expe{
    padding: 5px;
    font-size: large;
}
.btn2{
    position:relative;
    text-align: center;
}
#experience{
    background-color: transparent;
}
